In [44]:
import pandas as pd
df = pd.read_csv("delhi_air_quality_data.csv")
df.head()

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
0,US Diplomatic Post: New Delhi,pm25,26.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-05 12:30:00+00:00,28.63576,77.22445
1,US Diplomatic Post: New Delhi,pm25,21.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-05 11:30:00+00:00,28.63576,77.22445
2,US Diplomatic Post: New Delhi,pm25,19.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-05 10:30:00+00:00,28.63576,77.22445
3,US Diplomatic Post: New Delhi,pm25,23.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-05 09:30:00+00:00,28.63576,77.22445
4,US Diplomatic Post: New Delhi,pm25,25.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-05 08:30:00+00:00,28.63576,77.22445

In [34]:
for col in df.columns:
    print(f"Unique values in column '{col}': {len(df[col].unique())}")

Unique values in column 'location': 36
Unique values in column 'parameter': 1
Unique values in column 'value': 1649
Unique values in column 'unit': 1
Unique values in column 'country': 1
Unique values in column 'city': 1
Unique values in column 'date.utc': 4522
Unique values in column 'coordinates.latitude': 36
Unique values in column 'coordinates.longitude': 36

In [35]:
df.columns

Index(['location', 'parameter', 'value', 'unit', 'country', 'city', 'date.utc',
       'coordinates.latitude', 'coordinates.longitude'],
      dtype='object')

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import DotProduct, WhiteKernel
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np


X_train, X_test, y_train, y_test = train_test_split(df[['coordinates.latitude', 'coordinates.longitude']], df['value'], test_size=0.2, random_state=0)


rf = RandomForestRegressor(random_state=0)
lr = LinearRegression()
kernel = DotProduct() + WhiteKernel()
gpr = GaussianProcessRegressor(kernel=kernel, random_state=0)


models = {'Random Forest': rf, 'Linear Regression': lr, 'Gaussian Process Regression': gpr}
cv_results = {}

for name, model in models.items():
    scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
    cv_results[name] = [scores.mean()]

# Display the results as a table
results_df = pd.DataFrame.from_dict(cv_results, orient='index', columns=['MSE'])
print(results_df)

                                     MSE
Random Forest               -1121.408770
Linear Regression           -1122.091504
Gaussian Process Regression -1122.041288