In [3]:
import pandas as pd
df = pd.read_csv("delhi_air_quality_data.csv")
df.head()

,location,parameter,value,unit,country,city,date.utc,date.local,coordinates.latitude,coordinates.longitude
0,US Diplomatic Post: New Delhi,pm25,161.0,µg/m³,IN,Delhi,2022-02-06T23:30:00Z,2022-02-07T05:00:00+05:30,28.63576,77.22445
1,US Diplomatic Post: New Delhi,pm25,179.0,µg/m³,IN,Delhi,2022-02-06T22:30:00Z,2022-02-07T04:00:00+05:30,28.63576,77.22445
2,US Diplomatic Post: New Delhi,pm25,174.0,µg/m³,IN,Delhi,2022-02-06T21:30:00Z,2022-02-07T03:00:00+05:30,28.63576,77.22445
3,US Diplomatic Post: New Delhi,pm25,196.0,µg/m³,IN,Delhi,2022-02-06T20:30:00Z,2022-02-07T02:00:00+05:30,28.63576,77.22445
4,US Diplomatic Post: New Delhi,pm25,192.0,µg/m³,IN,Delhi,2022-02-06T19:30:00Z,2022-02-07T01:00:00+05:30,28.63576,77.22445

In [4]:
for col in df.columns:
    print(f"Unique values in column '{col}': {len(df[col].unique())}")

Unique values in column 'location': 39
Unique values in column 'parameter': 6
Unique values in column 'value': 3922
Unique values in column 'unit': 1
Unique values in column 'country': 1
Unique values in column 'city': 1
Unique values in column 'date.utc': 366
Unique values in column 'date.local': 366
Unique values in column 'coordinates.latitude': 39
Unique values in column 'coordinates.longitude': 39

In [4]:
df["date"].iloc[0]

"{'utc': '2022-02-22T23:30:00Z', 'local': '2022-02-23T05:00:00+05:30'}"